@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для печати */
@media print {
  /* Скрываем все, что не нужно на печати */
  header, footer, aside, .print-hidden {
    display: none !important;
  }

  /* Контент должен занимать всю ширину */
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Убираем тени и лишние стили у контентной части */
  .prose {
    box-shadow: none;
    border: none;
    padding: 0;
  }
}
